.nav-toggle {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.nav-toggle:hover,
.nav-toggle:active {
  cursor: pointer;
}

.nav {
  position: fixed;
  left: 0;
  top: 5.4em;
  transform: translate3d(-100%, 0, 0);
  background-color: var(--color-gray-10);
  width: 100%;
  height: 100%;
  transition: all 0.25s;
}

.nav.is-open {
  transform: translate3d(0, 0, 0);
}

.nav-main {
  list-style: none;
  padding: var(--space-lg) 0;
  margin: 0;
}

.nav-main li {
  margin: 0;
  padding: 0 var(--space-lg);
}

.nav-main li + li > a {
  border-top: 1px solid var(--color-gray-30);
}

.nav-link,
.nav-link:visited {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: var(--font-step-1);
}
.nav-link {
  display: flex;
  padding: var(--space-md) 0;
}

.nav-link::before {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: var(--space-lg)
}

/*
  planet-specific styles
*/
.nav-link--mercury::before {
  background-color: var(--color-mercury);
}

.nav-link--venus::before {
  background-color: var(--color-venus);
}

.nav-link--earth::before {
  background-color: var(--color-earth);
}

.nav-link--mars::before {
  background-color: var(--color-mars);
}

.nav-link--jupiter::before {
  background-color: var(--color-jupiter);
}

.nav-link--saturn::before {
  background-color: var(--color-saturn);  
}

.nav-link--uranus::before {
  background-color: var(--color-uranus);  
}

.nav-link--neptune::before {
  background-color: var(--color-neptune);  
}